<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">      
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              {{ title }}
            </h6>
            <p>
              Desde hace mucho, ofreciendo las mejores variedades de café. 
              Contamos con una amplia gama de productos y servicios para satisfacer tus necesidades.            
              Variedades de todo el mundo, seleccionadas por expertos.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Productos
            </h6>
            <p>
              <a href="#!" class="text-reset">Cafés</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Variedades</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Equipos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Aditamentos</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Links de interes
            </h6>
            <p>
              <a href="#!" class="text-reset">Precios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Configuración</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ordenes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p>Tandil, 7000, ARG</p>
            <p>info&#64;coffe-shop.com</p>
            <p>+ 54 249 56 7884</p>
            <p>+ 54 249 56 7896</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright: {{ title }}
    </div>
  </footer>
