td {
    vertical-align: middle;
}

.clearance {
    background-color: aqua;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
.card {
  position: relative;
  max-width: 100%;
  border: 1px solid #ccc;
  animation: fadeInAnimation 1s ease-in-out forwards;
  
}


.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  
  
.offer-banner {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: aqua;
  color: black;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}
  
    