<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th style="text-align: center;">Precio</th>
            <th style="text-align: center;">Stock</th>
        </tr>
    </thead>  

    <tbody>  
        @for (coffee of coffees; track coffee.id) {
            <tr>
              <td><img [src]="coffee.image" [alt]="coffee.name" height="100" width="100"> </td>
              <td>{{ coffee.name }}</td>
              <td>{{ coffee.type }}</td>
              <td style="text-align: center;">{{ coffee.price | currency }}</td>
              @if (coffee.stock > 0) {
                <td style="text-align: center;">{{ coffee.stock }}</td>
              } @else {
                <td><span class="badge rounded-pill text-bg-warning">SIN STOCK</span></td>
              }
              <td>
                <button class="btn btn-success" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar al carrito" (click)="addToCart(coffee)">
                  <i class="bi bi-cart-check" style="font-size: 1em; color: rgb(245, 238, 238); cursor: pointer;"></i>
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3"><span class="badge text-bg-secondary">No hay cafes para mostrar.</span></td>
            </tr>
          }
    </tbody>
</table>