<!-- <table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th style="text-align: center;">Precio</th>
            <th style="text-align: center;">Stock</th>
            <th style="text-align: center;">Cantidad</th>
            <th style="text-align: center;">Acciones</th>
        </tr>
    </thead>  

    <tbody>  
        @for (coffee of (coffeeList$); track coffee.id) {
            <tr [ngClass]="{'clearance': coffee.clearance}">
              <td><img class="img-tumbnail" [src]="coffee.image" [alt]="coffee.name" height="100" width="100"> </td>
              <td>{{ coffee.name }}</td>
              <td>{{ coffee.type }}</td>
              <td style="text-align: center;">{{ coffee.price | currency }}</td>
              @if (coffee.stock > 0) {
                <td style="text-align: center;">{{ coffee.stock }}</td>
              } @else {
                <td><span class="badge rounded-pill text-bg-warning">SIN STOCK</span></td>
              }
              <td style="text-align: center;">
                <app-coffee-shop-buy-quantity-input *ngIf="coffee.stock" [(quantity)]="coffee.quantity" [max] = "coffee.stock" (maxReached)="maxReached($event)"></app-coffee-shop-buy-quantity-input>
              </td>
              <td>
                <button class="btn btn-success" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar al carrito" (click)="addToCart(coffee)">
                  <i class="bi bi-cart-check" style="font-size: 1em; color: rgb(245, 238, 238); cursor: pointer;"></i>
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3"><span class="badge text-bg-secondary">No hay cafes para mostrar.</span></td>
            </tr>
          }
    </tbody>
</table> -->
<div class="grid-container">
  @for (coffee of (coffeeList$); track coffee.id) {
    <div class="card">
      <img [src]="coffee.image" [alt]="coffee.name" class="card-img-top" width="100" height="200" />
      <div class="card-body">
        <h4>{{ coffee.name }}</h4>
        <h2>{{ coffee.type }}</h2>
        <h3>{{ coffee.price | currency }}</h3>  
        <h3>{{ coffee.stock }}</h3>   
        <div>
          @if (coffee.stock <= 0) {
          <span class="badge rounded-pill text-bg-warning">SIN STOCK</span>
          }
          <div class="bottom-buttons">
            <span style="text-align: center;">
              <app-coffee-shop-buy-quantity-input *ngIf="coffee.stock" [(quantity)]="coffee.quantity" [max] = "coffee.stock" (maxReached)="maxReached($event)"></app-coffee-shop-buy-quantity-input>
            </span>
            <span>
              <button class="btn btn-success" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar al carrito" (click)="addToCart(coffee)">
                <i class="bi bi-cart-check" style="font-size: 1em; color: rgb(245, 238, 238); cursor: pointer;"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  } @empty {
    <span>
      <td colspan="3"><span class="badge text-bg-secondary">No hay cafes para mostrar.</span></td>
    </span>
  }
</div>
