.modal-body {
    align-self: center;
}

.coffee-list-th-centered, .coffee-list-td-centered,
.coffee-list-th, .coffee-list-td{
    text-align: center;
}

.coffee-list-centered, .coffee-list-td-centered, .coffee-list-name{
    align-content: center;
}

.coffee-list-name {
    text-align: left;
}

.total-balance-price-td {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.total-balance-text-td {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.input-group {
    justify-content: center;
}

.btn-decrement {
    font-size: large;
    font-weight: bolder;
    color: #000;
    font-style: normal;
}

.btn-clear-cart {
    padding: 6px 23px;
}

.coffee-list-actions {
    background-color: rgb(229, 227, 227);
}