<!-- About - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-terciary text-uppercase">Acerca de nosotros</h3>
          <h2 class="display-5 mb-4">Desde hace mucho tiempo, somos líderes en el mercado en la provisión de distintas variedades de cafés, nacionales e importados. Contamos con un salon para degustaciones, ademas de nuestras afamadas cafeterias.</h2>          
        </div>
      </div>
    </div>  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="../../assets/img/coffee-shop-variedades.jpeg" class="img-fluid rounded-start" alt="Why Choose Us?">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">¿Porque elegirnos? </h2>
                  <p class="card-text lead">Porque nuestros productos son los mejores del mercado y hacemos la diferencia con nuestra atencion. Contamos con las mejores variedades de cafes importados.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="../../assets/img/coffee-shop-baristas.jpg" class="img-fluid rounded-start" alt="Our Team">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Contamos con los mejores profesionales.</h2>
                  <p class="card-text lead">Nuestro equipo de profesionales cuenta con una amplia trayectoria y con los conocimientos necesarios para que su experiencia sea la mejor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>