
<!-- Messagge Modal -->
<div class="modal fade" id="maxReachedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Atención ⚠️</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <span class="message-span">{{ message }}</span>          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Coffee-List -->
<div class="grid-container">
  @for (coffee of (coffeeList$); track coffee.id) {
    <div class="card">
      <img [src]="coffee.image" [alt]="coffee.name" class="card-img-top" width="100" height="200" />
      <div class="offer-banner" *ngIf="coffee.clearance">Oferta</div>
        <div class="card-body" [ngClass]="{'clearance': coffee.clearance}">
          <h4>{{ coffee.type }}</h4>
          <h2>{{ coffee.name }}</h2>
          <h3>{{ coffee.price | currency }}</h3>  
          @if (coffee.stock > 0) {
            <h5>Stock: {{ coffee.stock }}</h5>   
            <div class="bottom-buttons">
              <span class="quantity-selector-span">
                <app-coffee-shop-buy-quantity-input *ngIf="coffee.stock" [(quantity)]="coffee.quantity" [max] = "coffee.stock" (maxReached)="maxReached($event)"></app-coffee-shop-buy-quantity-input>
              </span>               
              <span>
                <button class="btn btn-success" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Agregar al carrito" (click)="addToCart(coffee)">
                  Agregar
                </button>  
              </span>             
            </div>  
          } @else {
            <div class="badge-centered"> 
              <span class="badge rounded-pill text-bg-warning">SIN STOCK</span>
            </div>  
          }  
        </div>  
    </div>    
  } @empty {
    <span>
      <td colspan="3"><span class="badge text-bg-secondary">No hay cafes para mostrar.</span></td>
    </span>  
  }  
</div>  

