
td {
    vertical-align: middle;
}

.clearance {
    background-color: rgb(247, 213, 120);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;    
  }

.grid-container:hover > :not(:hover) {
    opacity: 0.3;
}
  
.card {
  position: relative;
  max-width: 100%;
  border: 1px solid #ccc; 
  transition: opacity 2s ease;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  
  
.offer-banner {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(225, 255, 0);
  color: rgb(250, 13, 13);
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.badge {
  --bs-badge-padding-x: 5em;
  --bs-badge-padding-y: 1em;
}  

.badge-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.input-group {
  justify-content: center;
}

.message-span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  padding: 30px 0px;
}