
<table class="table">
    <thead>
        <tr>
            <th>Poducto</th>
            <th>Cantidad</th>
            <th style="text-align: center;">Precio</th>
            <th></th>
        </tr>
    </thead> 
    <tbody>
        @for (product of (cartItems); track product.id) {
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td style="text-align: center;">{{ product.price * product.quantity | currency }}</td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quitar" (click)="removeFromCart(product)">
                        <i class="bi bi-trash3" style="font-size: 1em; color: rgb(20, 20, 20); cursor: pointer;"></i>
                    </button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="3" class="badge text-bg-secondary">No hay productos en el carrito.</td>
            </tr>
        }
            <tr> 
                @if (cartItems) {
                <td>Total</td>       
                <td style="text-align: center;">{{ calculateBalance() | currency }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Comprar">
                            <!--<i class="bi bi-cart-plus" style="font-size: 1em; color: rgb(20, 20, 20); cursor: pointer;"></i>-->Comprar
                        </button>                         
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="clearCart()" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Vaciar carrito">
                            <i class="bi bi-x-circle" style="font-size: 1em; color: rgb(245, 238, 238); cursor: pointer;"></i>
                        </button>                        
                    </td>
                } @else {
                    <td></td>
                }
            </tr>
    </tbody> 
</table>
      
